{#
/**
 * @file
 * Minimal theme implementation for a file element.
 *
 * Available variables:
 * - element: The element.
 * - value: The element's value.
 * - options Associative array of options for element.
 * - file: The element's File object.
 * - file_link: Link to the file.
 */
#}
<div>{{ file.filename.value }}</div>
