{#
/**
 * @file
 * Default theme implementation for webform privacy submission information.
 *
 * Available variables:
 * - serial: The serial number of the submission entity.
 * - sid: The ID of the submission entity.
 * - uuid: The UUID of the submission entity.
 * - uri: The URI the user submitted the webform.
 * - created: The time that the submission was first saved.
 * - completed: The time that the submission was completed.
 * - changed: The time that the submission was saved.
 * - language: The submission language code.
 * - notes: Administrative notes about the submission.
 * - webform: The associated webform.
 *
 * @see template_preprocess_webform_privacy_submission_information()
 *
 * @ingroup themeable
 */
#}
<h3>{{ 'Submission information'|t }}</h3>
<hr/>
<p><b>{{ 'Submission Number'|t }}:</b> {{ serial }}</p>
<p><b>{{ 'Submission ID'|t }}:</b> {{ sid }}</p>
<p><b>{{ 'Submission UUID'|t }}:</b> {{ uuid }}</p>
{% if uri %}
  <p><b>{{ 'Submission URI'|t }}:</b> {{ uri }}</p>
{% endif %}
<br />
<p><b>{{ 'Created'|t }}:</b> {{ created }}</p>
<p><b>{{ 'Completed'|t }}:</b> {{ completed }}</p>
<p><b>{{ 'Changed'|t }}:</b> {{ changed }}</p>
<br />
<p><b>{{ 'Language'|t }}:</b> {{ language }}</p>
<br />
<p><b>{{ 'Webform'|t }}:</b> {{ webform }}</p>
{% if notes %}
  <p><b>{{ 'Notes'|t }}:</b><br/>
  <pre>{{ notes }}</pre>
  </p>
{% endif %}
